.leaderboard {

    &__background {
        background-color: #FFFFFF3D;
        padding: 12px;
        border-radius: 20px;
    }
    
    &__label {
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF3D;
        padding: 12px 16px;
        border-radius: 16px;
    }
}

