@import '../App.scss';

.profile-view {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__background {
        background-color: $white-24;
        padding: 12px;
        border-radius: 20px;
    }
}