@import '../App.scss';

.player-rank-card {
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;

    &__position {
        width: 16px;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 16px;
        max-width: 230px;
    }

    &__avatar-container {
        background-color: $white;
        height: 28px;
        width: 28px;
        border-radius: 100%;
    }

    &__avatar {
        height: 28px;
        width: 28px;
        border-radius: 100%;
    }
}