.player-rank-card {
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;

    &__position {
        width: 32px;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__avatar-container {
        background-color: #FFFFFF;
        height: 28px;
        width: 28px;
        border-radius: 100%;
    }

    &__avatar {
        height: 28px;
        width: 28px;
        border-radius: 100%;
    }
}