
@import '../../App.scss';

.player-stats {
    display: flex;
    justify-content: space-between;
    background-color: $white-24;
    padding: 12px 16px;
    border-radius: 16px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__divider {
        height: -webkit-fill-available;
        width: 1px;
        background-color: $white;
    }
}