.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__img-container {
        background-color: #FFFFFF;
        width: 88px;
        height: 88px;
        border-radius: 100%;
        position: relative;
    }

    &__img {
        width: 88px;
        height: 88px;
        border-radius: 100%;
        border: solid 3px #FF9452

    }

    &__rank-container {
        background-color: #FF9452;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border-radius: 100%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}