@import '../../App.scss';

.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__img-container {
        background-color: $white;
        width: 88px;
        height: 88px;
        border-radius: 100%;
        position: relative;
    }

    &__img {
        width: 88px;
        height: 88px;
        border-radius: 100%;
        border: solid 3px $primary

    }

    &__rank-container {
        background-color: $primary;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border-radius: 100%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__favorite {
        background-color: $white-24;
        border: none;
        width: 48px;
        height: 48px;
        border-radius: 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        &--active {
            background-color: #FF945226;
        }

        &-icon {
            width: 24px;
            height: 24px;

            path {
                stroke: $white-80;
            }
        }

        &--active &-icon path {
            stroke: $primary;
            fill: $primary;
        }
    }
}