* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", sans-serif;
    background-color: #06071a;
    color: #ffffff;
    position: relative;
    padding: 32px 20px;
  }

  h1 {
    font-size: 24px;
    font-weight: 800;
    color: #FFFFFF;
    margin: 0;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
  }
  
  h4 {
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    margin: 0;
  }

  h5 {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
  }

  h6 {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff80;
    margin: 0;
  }